*{
    margin:0;
}
/* Header */
nav{
    border: 5px solid yellowgreen;
    display: flex;
}
.caja-navegacion{
    border: 2px solid purple;
}
.caja-logo{
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    width: 25%; 
}
.caja-menu{
    border: 2px solid red;
    width: 75%;
}
.menu{
    border: 2px solid green;
    height: 100%;
    list-style-type: none;
    padding-inline-start: 0;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.lista_menu{
    border: 2px solid brown;

}