body{
    border: 5px solid black;
}
.menu{
    border: 3px solid green;
    text-align: center;
}
.logo{
    border: 2px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
ul{
    list-style-type: none;
}
img{
    border: 2px solid purple;
}